<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Conversor de VSL</title>


  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/css/mainPrincipal.css" rel="stylesheet">

</head>

<body>
  <header id="header" class="header bgColor-defaul d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- <img src="../static/assets/img/logo.png" alt=""> -->
        <h1>Conversor</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="active">Principal</a></li>
          <li><a href="/convert">Conversor</a></li>

          <li class="dropdown"><a href="#"><span>Usuário</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="togglePassword.html">Pagina do Usuário(Em Breve)</a></li>
              <li><a href="/togglePassword">Trocar senha</a></li>
              <li><a href="#">Trocar E-mail (Em Breve)</a></li>
            </ul>
          </li>
          <li><a class="get-a-quote" href="/">Seja um assinante(Em Breve)</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main class="main">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row ">

          <div class="col-12 d-flex flex-column justify-items-center align-items-center">

            <h1 class="fw-bolder text-center">CONVERSOR DE VSL</h1>

            <p class="fw-normal text-center mb-0">
              Cole sua copy no espaço abaixo para gerar slides de Power Point para sua VSL.
            </p>

            <p class="fw-normal fwBolde text-center mb-0 mt-4">
              Configuração padrão: fonte Arial, tamanho 40.
            </p>

          </div>

          <!-- Text area apenas para Celular -->
          <div class="col-12 mt-3
                    d-flex d-sm-none d-md-none d-lg-none
                    justify-content-center
                    ">
            <form action="/autenticar">
              <div class="row d-flex justify-content-center">


                <div id="divCheck" class="d-flex justify-content-center ">
                  <input type="checkbox" id="check1">
                  <p class="p-0 m-0 ms-1">Enviar por e-mail</p>
                </div>

                <div id="checkEmail" class="col-12 ocult  flex-column
                                justify-content-center align-content-center mb-3
                                mx-5">
                  <p class="text-center m-0 p-0">Digite os emails
                    da sua equipe separado por virgula: </p>
                  <input type="text" name="email" id="check1" class="marginMobile">
                </div>

                <div class="col-12 d-flex justify-content-center">
                  <textarea type="text" style="
                                    resize: none;
                                    background-color: #ebebeb;
                                    border: none
                                    " name="vsl" id="text" cols="40" rows="10"></textarea>

                </div>

                <div class="col-2 d-flex flex-column
                                align-items-center justify-content-center mt-3
                                ">
                  <button type="submit" class="btn btn-lg text-white text-center
                                    fw-bolder" style="
                                    background-color: rgb(255,93,94);
                                    ">
                    CONVERTER!
                  </button>
                </div>
              </div>
            </form>
          </div>

          <!-- Text area apenas para  Tablet -->
          <div class="col-12 mt-3
                    d-sm-flex
                    d-none d-md-none d-lg-none
                    justify-content-sm-center
                    ">
            <form action="/autenticar">
              <div class="row d-flex justify-content-center">

                <div id="divCheck2" class="d-flex justify-content-center ">
                  <input type="checkbox" id="check2">
                  <p class="p-0 m-0 ms-1">Enviar por e-mail</p>
                </div>

                <div id="checkEmail2" class="col-12 ocult flex-column
                                align-content-center justify-content-center mb-3
                                mx-5">
                  <p class="text-center m-0 p-0">Digite os emails
                    da sua equipe separado por virgula: </p>
                  <input type="text" name="email" id="text" class="marginTablet">
                </div>

                <div class="col-12 d-flex justify-content-center">
                  <textarea type="text" style="
                                    resize: none;
                                    background-color: #ebebeb;
                                    border: none
                                    " name="vsl" id="text" cols="80" rows="10"></textarea>

                </div>

                <div class="col-2 d-flex flex-column
                                align-items-center justify-content-center mt-3
                                ">
                  <button type="submit" class="btn btn-lg text-white text-center
                                    fw-bolder" style="
                                    background-color: rgb(255,93,94);
                                    ">
                    CONVERTER!
                  </button>
                </div>
              </div>
            </form>
          </div>

          <!-- Text area apenas para PC -->
          <div class="col-12 mt-3
                    d-none d-sm-none
                    d-md-flex d-lg-flex
                    justify-content-md-center justify-content-lg-center
                    ">
            <form action="/autenticar">
              <div class="row d-flex justify-content-center">

                <div id="divCheck3" class="d-flex justify-content-center ">
                  <input type="checkbox" id="check3">
                  <p class="p-0 m-0 ms-1">Enviar por e-mail</p>
                </div>

                <div id="checkEmail3" class="col-12 ocult flex-column
                                align-content-center justify-content-center mb-3 mx-5
                                ">
                  <p class="text-center m-0 p-0">Digite os emails
                    da sua equipe separado por virgula: </p>
                  <input type="text" name="email" id="text" class="mx-auto" style="width: 400px">
                </div>

                <div class="col-12 d-flex justify-content-center">
                  <textarea type="text" style="margin-left: 50px; resize: none;
                                    background-color: #ebebeb; border: none" name="vsl" id="text" cols="120"
                    rows="15"></textarea>
                </div>
                <div class="col-2 d-flex flex-column
                                justify-content-center mt-3">
                  <button type="submit" class="btn btn-lg text-white fw-bolder"
                    style="background-color: rgb(255,93,94)">
                    CONVERTER!
                  </button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer fixed-bottom">
    <div class="container">

      <div class="copyright">
        &copy;Copyright <strong><span>AgenciaMKT+</span></strong>. All Rights Reserved
      </div>

      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">@aelafar</a>
      </div>

    </div>
  </footer>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script>
    document.getElementById('check1').addEventListener('click', showDiv)
    document.getElementById('check2').addEventListener('click', showDiv2)
    document.getElementById('check3').addEventListener('click', showDiv3)

    function showDiv(){
        document.getElementById('divCheck').classList.add('ocult')
        document.getElementById('divCheck').classList.remove('d-flex')

        document.getElementById('checkEmail').classList.remove('ocult')
        document.getElementById('checkEmail').classList.add('d-flex')
    }
    function showDiv2(){
        document.getElementById('divCheck2').classList.add('ocult')
        document.getElementById('divCheck2').classList.remove('d-flex')

        document.getElementById('checkEmail2').classList.remove('ocult')
        document.getElementById('checkEmail2').classList.add('d-flex')
    }
    function showDiv3(){
        document.getElementById('divCheck3').classList.add('ocult')
        document.getElementById('divCheck3').classList.remove('d-flex')

        document.getElementById('checkEmail3').classList.remove('ocult')
        document.getElementById('checkEmail3').classList.add('d-flex')
    }
</script>
</body>

</html>