<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">
        <title>Criador de VSL</title>
    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-md navbar fixed-top "
                style="background-color: RGB(181,41,133)">
                <div class="container-fluid">
                    <p class="navbar-brand my-0 mx-5 text-white fw-bold fs-4"
                        href="#">Conversor</p>

                    <div class=" navbar-collapse"
                        id="navbarCollapse">
                        <ul class="navbar-nav me-auto ">

                            <li class="nav-item">
                                <a class="nav-link text-white"
                                    aria-current="page" href="/">Principal</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/convert">Conversor</a>
                            </li>

                        </ul>
                        <div class="col-4 d-flex justify-content-end">
                            <svg
                                class="bd-placeholder-img rounded-circle me-5"
                                width="40"
                                height="40"
                                role="img"
                                preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                                <rect width="100%" height="100%"
                                    fill="#FFF"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </nav>
        </header> 

        <main class="main">
                <div class="row">
                    <div class="col-12 d-flex flex-column align-items-center">
                        <h1 class="fw-bolder">CONVERSOR DE VSL</h1>
                        <h6 class="fw-normal">Cole sua copy no espaço abaixo para gerar slides de Power Point   para sua VSL.</h6>
<h6 class="fw-normal">Configuração padrão: fonte Arial, tamanho 40.</h6>
                    </div>
                    <div class="col-12">
                       
                    </div>
                    <div class="col-12 d-flex justify-content-center mt-3">
                        <form action="/autenticar">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 d-flex justify-content-center">
                                    <textarea
                                        type="text"
                                        style="margin-left: 50px; resize: none; background-color: #ebebeb; border: none"
                                        name="vsl"
                                        id="text"
                                        cols="120"
                                        rows="15">
                                    </textarea>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center mt-3">
                                    <button
                                        type="submit" 
                                        class="btn btn-lg text-white fw-bolder" 
                                        style="background-color: rgb(255,93,94)"
                                    >
                                        CONVERTER!
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </main>

        <footer class="container fixed-bottom d-flex" >

            <p>&copy;2022 - Agência MKT+ </p>
            <!-- <p class="ms-5">Contatos: +55(19) 99554-8058</p> -->
          </footer>
        </body>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    </html>

    <style>
        .main{
            margin-top: 62px;
            padding-top: 40px;
        } 
        body{
            overflow: hidden;
        }   

    </style>

