<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous">

        <title>Criador de VSL</title>
    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-sm "
                style="background-color: RGB(181,41,133)">
                <div class="container-fluid">

                    <a class="navbar-brand text-white" href="/">Agencia MKT+</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link text-white"
                                    aria-current="page" href="/">Principal</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/convert">Conversor</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/togglePassword">Alterar Senha</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- PC -->
        <main class="main d-flex
            d-none d-sm-none d-md-flex d-lg-flex
            flex-md-row flex-lg-row">
            
            <div class="row ">
                <div  class="d-flex flex-column widd 
                    col-12
                    align-content-sm-center align-content-xs-center align-content-md-start align-content-lg-start
                    align-items-center align-items-sm-center
                    align-items-md-start
                    justify-content-center
                    "
                >
                <div class="col-12">
                    <h5 class="text-center">Digite seus dados:</h5>
                </div>

                <div class="col-12 text-center">
                    <form action="/register" class="needs-validation" method="POST" novalidate>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div id="msg_valided" class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <input 
                            type="text" 
                            name=usuario 
                            id="validationCustom01"
                            class="form-control" 
                            placeholder="Login" 
                            required
                            autofocus
                        >
                        <div class="valid-feedback">
                            Tudo certo!
                        </div>
                        <div class="invalid-feedback text-start">
                            Por favor, escolha um nome de usuário.
                        </div>
                        <input 
                            type="password" 
                            name=password 
                            id="password"
                            class="form-control mt-1" 
                            placeholder="Senha" 
                            required
                        >
                        <div class="invalid-feedback text-start">
                            Por favor, escolha uma senha.
                        </div>

                        <input 
                            type="email" 
                            name=email 
                            id="password"
                            class="form-control mt-1" 
                            placeholder="E-mail" 
                            required
                        >
                        <div class="invalid-feedback text-start">
                            Por favor, escolha uma email.
                        </div>
                        <button
                            class="w-25 btn btn-simple mt-2"
                            type="submit"
                        >
                            Cadastrar
                        </button>
                    

                    </form>
                </div>
              </div>  
            </div>

        </main>


        <!-- Mobile -->
        <main class="main
            d-md-none d-lg-none
            flex-md-row flex-lg-row
            mt-5 mt-sm-5 mt-md-0">
            
            <div class="row ">
                <div  class="d-flex flex-column  
                    col-12
                    align-content-sm-center align-content-xs-center align-content-md-start align-content-lg-start
                    align-items-center align-items-sm-center
                    align-items-md-start
                    justify-content-center
                    px-5"
                >
                <div class="col-12">
                    <h5 class="text-center">Digite seus dados:</h5>
                </div>

                <div class="col-12 text-center">
                    <form action="/register" class="needs-validation2" method="POST" novalidate>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div id="msg_valided" class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <input 
                            type="text" 
                            name=usuario 
                            id="validationCustom01"
                            class="form-control" 
                            placeholder="Login" 
                            required
                            autofocus
                        >
                        
                        <div class="invalid-feedback text-start">
                            Por favor, escolha um nome de usuário.
                        </div>
                        <input 
                            type="password" 
                            name=password 
                            id="password"
                            class="form-control mt-1" 
                            placeholder="Senha" 
                            required
                        >
                        <div class="invalid-feedback text-start">
                            Por favor, escolha uma senha.
                        </div>

                        <input 
                            type="email" 
                            name=email 
                            id="password"
                            class="form-control mt-1" 
                            placeholder="E-mail" 
                            required
                        >
                        <div class="invalid-feedback text-start">
                            Por favor, escolha uma email.
                        </div>
                        <div class="valid-feedback">
                            Acho que está tudo certo!
                        </div>
                        <button
                            class="w-50  btn btn-simple mt-2"
                            type="submit"
                        >
                            Cadastrar
                        </button>
                    

                    </form>
                </div>
              </div>  
            </div>

        </main>

        <footer class="position-absolute bottom-0 start-0 ps-5">
            <p>&copy;2022 - Agência MKT+</p>
        </footer>
    </body>


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script>
            // Exemplo de JavaScript inicial para desativar envios de formulário, se houver campos inválidos.
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Pega todos os formulários que nós queremos aplicar estilos de validação Bootstrap personalizados.
                var forms = document.getElementsByClassName('needs-validation');
                // Faz um loop neles e evita o envio
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();

        setTimeout(function () {
            document.getElementById("msg_valided").style.display = "none";
            }, 3000);
    </script>
</html>

<style>
    body{
        overflow: hidden;   
    }
    main{
        padding-bottom: 450px !important;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        overflow: hidden;    
    }  
    .btn-simple{
        background-color: rgb(255,93,94); 
        color: white;
        transition: 1s;
    }
    .btn-simple:hover{
        background-color: white; 
        color:  rgb(255,93,94);
        border-color: rgb(255,93,94);
        font-size: 17px;
        transition: 1s;

    }
    .widd{
        width: 500px;
    }
    
</style>





