<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Conversor de VSL</title>


    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/css/mainPrincipal.css" rel="stylesheet">

</head>

<body>
    <header id="header" class="header bgColor-defaul d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <!-- <img src="../static/assets/img/logo.png" alt=""> -->
                <h1>Conversor</h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/" class="active">Principal</a></li>
                    <li><a href="/convert">Conversor</a></li>

                    <li class="dropdown"><a href="#"><span>Usuário</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="togglePassword.html">Pagina do Usuário(Em Breve)</a></li>
                            <li><a href="/togglePassword">Trocar senha</a></li>
                            <li><a href="#">Trocar E-mail (Em Breve)</a></li>
                        </ul>
                    </li>
                    <li><a class="get-a-quote" href="/">Seja um assinante</a></li>
                </ul>
            </nav>

        </div>
    </header>
        {% if dir %}
        <!-- Esse trecho tem como objetivo receber o diretório enviado pelo back e atraves do js disponibilizar para download  -->
        <h1 hidden id="dir">{{dir}}</h1>
        {% endif %}

    <main id="main">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gy-4">

                    <div id="body" class="row d-flex flex-column align-items-center">
                        <h1 id="inv" class="text-center">
                            Clique aqui para ver a sua VSL
                        </h1>

                        <a id="ancora" href="" onclick="delet()" download class="btn bt-lj mt-3">
                           <p class="fwButton mb-0 ">DOWNLOAD</p> 
                        </a>
                    </div>

                    <div id="load" class="spinner hidden inv">
                        <div class="circle"></div>
                    </div>

                </div>
            </div>
        </section>


    </main>

    <footer id="footer" class="footer fixed-bottom">
        <div class="container">

            <div class="copyright">
                &copy;Copyright <strong><span>AgenciaMKT+</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">@aelafar</a>
            </div>

        </div>
    </footer>


    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>   
</body>

</html>